/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

p {
  color: black
}

/* TRANSITION */


/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
  border-bottom: 1px solid black;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.7rem;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

nav a:hover {
  text-decoration: underline;
  text-underline-offset: 1rem;
}

.logo {
  font-size: 2.5rem;
}

.logo:hover {
  cursor: default;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* SECTIONS */

section {
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 10vw;
  padding-top: 25px;
  align-items: center;
  justify-content: center;
}

/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}
    


.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3.5rem;
  text-align: center;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}

/* ABOUT SECTION */

#about {
  position: relative;
}

.idiomas{
    width: 500px;
    height: 120px;
    display: flex;
    padding: 15px 0px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    background: white;
    border-radius: 1rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
}

.languages{
  display: flex;
  gap: 10px;
}

.upper-links{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.upper-links img{
  width: 25vw;
  height: 50vh;
}

.bottom-links{
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  gap: 20px;
}
.bottom-links h1{

  font-size: 20px;

}

.links{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.links .fa-brands {

  font-size: 60px;

}

.links .fa-brands:hover{
  cursor: pointer;
}

.links a img{
  width: 60px;
  height: 60px;
}

.links a img:hover{
  cursor: pointer;
}

.languages h2{
  font-weight: 300;
}

.about-containers {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.about-details-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 40px;
  align-items: center;
}

.about-details-container img{
  width: 80px;
  height: 80px;
  margin: 0;
}

.about-details-container h1{
  font-size: 55px;
  font-weight: 400;
  gap: 0;
}
.about-details-container h2{
  font-size: 25px;
}

.about-details-container p {
  font-weight: 300;
  font-size: 23px;
  text-align: center;

}

.about-pic {
  border-radius: 2rem;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 10rem;
}

.details-container {
  width: 100%;
  height: 27vh;
  padding: 30px;
  display: flex;
  gap: "5px";
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.details-container h3{
  font-weight: 300;
}

.section__pic-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 0;
  gap: 20px;
  text-align: center;
}



.technologies-container {
  height: 15vh;
  display: flex;
  width: 50vw;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
  padding: 0px 40px;
}


.technologies{
  width: 100%;
  height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 25px;

}


.fa{
  font-size: clamp(3rem, 10%, 4rem);
  transition: 0.4s;
}

.fa:hover{
  cursor: pointer;
  font-size: clamp(3.5rem, 10%, 4rem);

}

.techText{
  display: flex;
  text-align: center;
  font-size: 25px;
}

.techText p{
  font-size: 23px;
    font-weight: 300;
}

.techText span{
  font-weight: bold;

}

/* EXPERIENCE SECTION */

#experience {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 2vh;
  height: 100vh;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
}


/* CONTACT */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: (250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}

/* FOOTER SECTION */

.footer {
  height: 7vh;
  margin: 0 1rem;
}

.footer p {
  text-align: center;
}

/* Projects */

#projects{
  padding: 10px;
  margin: 0;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

}

#projects .class h1{
  font-size: 4rem;
}

.container{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  gap: 70px;
}

.box{
  display: flex;
  flex-direction: column;
}

.wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 10px;
  background-color: rgb(244, 243, 243);
  box-shadow: 10px 8px 10px 5px #c6c6c6;

}

.wrappedImg{
  height: 40vh;
}

.certificatesWrapper{
  display: flex;
  width: 100vw;
  overflow: auto;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.certificatesWrapper img {
  width: 35vw;
  height: 40vh;
}

.wrappedContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 32vw;
  height: 70vh;
  border: 2px solid black;
  border-radius: 1rem;
  box-shadow: 10px 8px 10px 5px #c6c6c6;
  gap: 15px;
  color: white;
  background: #252323;
}

.wrapper .titleContainer {
  width: 100%;
  align-items: center;
  display: flex;
}

.wrapper .wrappedContainer .titleContainer .imageWrapper{
  width: 10%;
}
.wrapper .wrappedContainer .titleContainer .imageWrapper button{
  background: none;
  outline: none;
  border: none;
}

.wrapper .wrappedContainer .titleContainer .titleWrapper{
  width: 80%;
}

.wrapper .titleContainer img{
  width: 50px;
  height: 50px;
  filter: invert();
  transition: 0.3s;
  cursor: pointer;
}

.hiddenFeature{
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hiddenFeature p{
  color: white;
  font-size: clamp(0.5rem, 2vw, 1.2rem);
  padding: 25px;
  font-weight: 100;
}

.wrapper .titleContainer img:hover{
  width: 55px;
  height: 55px;
  filter: invert();
}

.wrappedContainer:hover{
  cursor: pointer;
}

.wrappedContainer h1{
  font-size: 45px;
  font-weight: 400;
}

.wrappedContainer a img{
  width: 32vw;
  height: 40vh;
  border-radius: 5px;
}

.wrappedContainer .wrappedIcons{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 35px;
}

.wrappedContainer .wrappedIcons img{
 width: 50px;
 height: 50px;
filter: invert(0.7);
}

.wrappedContainer .links{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  text-align: center;
}

.wrappedContainer .links a{
  border: 1px solid black;
  background-color: rgb(146, 144, 144);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  font-size: 10px;
  border-radius: 5px;
  text-align: center;
}
.wrappedContainer .links a:hover{
  cursor: pointer;
  width: 155px;
  height: 55px;
  transition: 0.5s;
}

.wrappedContainer .links a p{
  font-size: 16px;
    color: white;
  text-align: center;
}

#contact{
  height: 90px;
  width: 100%;
}

.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 50px;
}

.footer a{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 10px;
  font-size: 35px;
  font-weight: 300;
}

@media screen and (max-width: 1200px){

  .idiomas{
    height: 100px;
    width: 300px;
    margin: 1rem;
  }

  .fa {
    font-size: clamp(3rem, 10vw, 4rem);
    transition: 0.4s;
}

.section__pic-container .links img{
  display: flex;
  width: 50px;
  height: 50px;
}

.section__pic-container {
  width: auto;
  height: 46vw;
  padding-top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 4rem;
}

.footer{
  gap: 10px;
}

.footer a{
  font-size: 13px;
}

.footer p{
  font-size: 16px;
  font-weight: 400;
}

.technologies {
 gap: 3px;
}

.about-details-container p {
  font-weight: 300;
  font-size: 15px;
}

.techText p{
  font-size: 15px;
}

.about-details-container img {
  width: 50px;
  height: 50px;
  margin: 0;
}

.about-details-container h2 {
  font-size: 15px;
}

.about-details-container h3{
  font-size: 12px;
}

.nav-links li a {
  display: none;
}

nav {
  display: none;
}

.wrappedContainer .wrappedIcons {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 5px;
}

.links{
  gap: 10px;
}

.wrappedContainer .links a {
  height: 30px;
}

.wrappedContainer .links a p{
  font-size: 10px;
}

.wrappedContainer h1 {
  font-size: 24px;
  font-weight: 400;
}

.wrappedContainer {
  width: 43vw;
  height: 100%;
  padding: 11px;
}

.wrappedImg {
  height: 0%;
}

.wrapper .titleContainer img {
  width: 30px;
  height: 30px;
}
.wrapper .titleContainer img:hover {
  width: 30px;
  height: 30px;
}

.container {
  gap: 20px;
}

#projects{
  margin-top: 5rem;
  padding: 1px;
}

.links .fa-brands {
  font-size: 50px;
}
.links a img {
  width: 30px;
  height: 30px;
}

#about{
  display: flex;
  align-items: center;
  height: 100%;
}

.nav{
  margin: 0;
}

.desknav{
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section__pic-container {
  width: auto;
  height: 46vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.idiomas h1{
  font-size: 20px;
}

.languages h2 {
  font-size: 15px;
  font-weight: 300;
}

.section__pic-container {
  width: auto;
  gap: 5px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100%;
}

.upper-links img {
  display: none;
}

.certificatesWrapper{
  width: 100%;
  gap: 1.2vh;
  justify-content:initial;
}

.certificatesWrapper img {
    width: 89vw;
    height: 35vh;
}
.section__pic-container {
  width: 275px;
  margin: 0 auto 2rem;
} 

#contact,
  footer {
    height: 10vh;
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 1.5rem;
  }
  .text-container {
    text-align: justify;
  }

.fa{
  font-size: 28px;
}

.fa:hover{
  font-size: 30px;
}

.technologies {
  width: 100%;
  gap: 2vw;
}

.wrapper{
  gap: 1px;
}

.wrappedContainer .links a:hover{
  height: 35px;
}

.technologies-container {
    height: 80px;
    gap: 5px;
    width: 41vw;
    padding: 0px 100px;
}

#experience,

  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }

.container {
  padding-top: 0;
}

.about-details-container h2 {
  font-size: 15px;
}

.details-container {
  width: 210px;
  gap: 8px;
  height: 25vh;
  padding: 10px;
}

.footer a{
  font-size: 15px;
}


#experience {

  gap: 0vh;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.bottom-links h1 {
  font-size: 15px;
}

.hiddenFeature p {
  color: white;
  display: flex;
  padding: 0;
  align-items: center;
  height: 18vh;
  font-weight: 400;

}

.hiddenFeature {
  height: 100%;
}


.about-details-container h1 {
  font-size: 50px;
}


.wrappedContainer a img{
  width: 40vw;
  height: 14vh;
}

.wrappedContainer .wrappedIcons img {
  width: 35px;
  height: 35px;
  filter: invert(0.7);
}

}